docker {
        enabled = true
        temp = 'auto'
        }

conda {
        enabled = true
        temp = 'auto'
        runOptions = '-u $(id -u):(id g)'
   }
params {
	reference = "${baseDir}/assets/reference-sequence.fasta"
	proportions = "${baseDir}/assets/sim_proportions.tsv"
	primer_scheme = "${baseDir}/assets/nCoV-2019.tsv"
	}
